// Importa el tema actual (puedes cambiar entre theme-a y theme-b)
@use './theme-b' as theme; // Cambia a './theme-b' según el tema deseado

.container {
  .box {
    border-radius: theme.$border-radius;
    box-shadow: theme.$box-shadow;
  }

  .base {
    background-color: theme.$base-color;
    color: #ffffff; // Texto blanco para contraste
  }

  .important {
    background-color: theme.$important-color;
    color: #ffffff; // Texto blanco para contraste
  }

  .warning {
    background-color: theme.$warning-color;
    color: #000000; // Texto negro para contraste
  }

  .principal-font {
    color: theme.$font-color-principal;
  }

  .secondary-font {
    color: theme.$font-color-secondary;
  }

  .box-shadow {
    box-shadow: theme.$box-shadow;
  }
}
